---
import Catch from "@/components/Catch.astro";
---

<div
  id="loader"
  class="fixed z-1000 h-lvh w-lvw origin-top-left overflow-y-hidden bg-white p-1 md:p-2"
>
  <div id="loader-container" class="absolute top-0 left-0 h-svh w-full">
    <Catch id="loader-catch" h1={false} others="bottom-0 opacity-0" />
  </div>
</div>

<script>
  import startLoaderAnimation from "./startLoaderAnimation";
  startLoaderAnimation();
</script>
