---
import cn from "@/libs/cn";

interface Props {
  title: string;
  others?: string;
  animation?: boolean;
}

const { title, others, animation = false } = Astro.props as Props;

const secTit = cn(
  "sec-tit font-en text-6xl md:text-8xl lg:text-[88px] xl:text-9xl font-bold",
  others,
  {
    animation,
  },
);
---

<h2 class={secTit}>{title}</h2>
