---
import cn from "@/libs/cn";
import headerLinks from "@/data/headerLinks";

const barClass = (position: "top" | "middle" | "bottom") =>
  cn("absolute block w-full h-full bg-white", {
    "-translate-y-[6px]": position === "top",
    "translate-y-[6px]": position === "bottom",
  });
---

<button
  class="button absolute top-2 right-2 z-10 h-11 w-11 rounded-full bg-black lg:hidden"
>
  <span class="relative m-auto block h-[2px] w-5">
    <span class={barClass("top")}></span>
    <span class={barClass("middle")}></span>
    <span class={barClass("bottom")}></span>
  </span>
</button>
<div
  class="menu-wrapper absolute top-0 left-0 z-1 hidden h-screen w-screen bg-white lg:hidden"
>
</div>
<nav id="menu" class="z-10 hidden lg:block">
  <ul class="flex flex-col p-2 lg:flex-row">
    {
      headerLinks.map((link) => (
        <li class="pb-10 lg:pb-0 lg:pl-4 xl:pr-8 xl:pl-0">
          <a
            href={link.href}
            class="font-menu p-4 text-4xl font-bold tracking-widest italic duration-200 hover:opacity-50 lg:text-lg lg:font-medium"
          >
            {link.text}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<script>
  import changeTextColor from "./changeTextColor";
  changeTextColor("company");
</script>
