---
import Arrow from "@/components/Arrow.astro";
import BoldText from "@/components/BoldText.astro";
import SectionTitle from "@/components/SectionTitle.astro";
import companyBgImgData from "@/data/company/companyBgImgData";
---

<section id="company" class="relative h-full w-lvw bg-white">
  <div
    id="company-wrapper"
    class="company-wrapper visible relative h-full w-full"
  >
    <div class="company-scale relative h-svh w-full">
      <div
        class="peer/company company-container container-base relative z-20 m-auto h-full cursor-pointer pt-30 md:pt-40 lg:pt-30 2xl:pt-40 portrait:lg:pt-70"
      >
        <div class="flex h-full flex-col">
          <SectionTitle
            title="Company"
            others="self-end text-white drop-shadow md:pr-3 h-2/3 lg:self-start lg:h-1/2 xl:h-2/3"
          />
          <BoldText
            others="lg:hidden pl-2 md:pl-4 pb-6 md:pb-16 text-white drop-shadow"
          >
            私たちは、<br />
            世の中にまだ知られていない<br />
            “価値”を戦略的に、<br />
            そして情熱的に届ける<br />
            プロフェッショナルチームです。<br />
            本質を見抜き、<br />
            最適な人・場所・言葉で<br />
            ブランドの魅力を<br />
            最大限に引き出します。
          </BoldText>
          <BoldText others="hidden lg:block self-end text-white drop-shadow">
            私たちは、世の中にまだ知られていない“価値”を戦略的に、<br />
            そして情熱的に届けるプロフェッショナルチームです。<br />
            本質を見抜き、最適な人・場所・言葉でブランドの魅力を最大限に引き出します。
          </BoldText>
        </div>
      </div>
      <Arrow
        lg={true}
        others="company-arrow absolute right-4 md:right-10 bottom-5 md:bottom-10 z-20 duration-300 peer-hover/company:translate-x-3"
      />
      <div
        class="company-bg absolute top-1 left-1 h-[calc(100svh-8px)] w-[calc(100vw-8px)] duration-300 peer-hover/company:opacity-95 md:top-2 md:left-2 md:h-[calc(100svh-16px)] md:w-[calc(100vw-16px)]"
      >
        <div class="absolute z-10 h-full w-full rounded bg-black opacity-60">
        </div>
        {
          companyBgImgData.map((img) => (
            <div>
              <img
                src={img.sp}
                class="absolute h-full w-full rounded object-cover md:hidden"
                alt=""
              />
              <img
                src={img.src}
                class="absolute hidden h-full w-full rounded object-cover md:block"
                alt=""
              />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>

<script>
  import enableCompanyCursorEffect from "./enableCompanyCursorEffect";
  import startCompanyAnimation from "./startCompanyAnimation";

  enableCompanyCursorEffect();
  startCompanyAnimation();
</script>
