---
import SectionTitle from "@/components/SectionTitle.astro";
import Item from "./Item.astro";
---

<section id="service">
  <div class="border-light-gray container-base border-t pb-11 md:py-4 lg:pb-36">
    <SectionTitle
      title="Service"
      others="pt-8 xl:pt-6 pb-9 lg:pb-11 xl:pb-16"
    />
    <Item />
  </div>
</section>
