---
import SectionTitle from "@/components/SectionTitle.astro";
import Item from "./Item.astro";
---

<section
  id="service"
  class="relative bg-white portrait:md:pb-10 portrait:lg:pb-36"
>
  <div class="container-base border-t border-zinc-300 md:pt-4">
    <SectionTitle
      title="Service"
      others="pt-8 xl:pt-6 pb-9 lg:pb-11 xl:pb-16"
    />
    <Item />
  </div>
</section>
