---
import Catch from "@/components/Catch.astro";
import HeroSlider from "./HeroSlider.astro";
---

<section id="hero" class="h-lvh w-lvw p-1 md:p-2">
  <Catch others="hero-catch bottom-2 xl:bottom-9 min-[1728px]:bottom-11" />
  <HeroSlider />
</section>
