---
import Catch from "@/components/Catch.astro";
import HeroSlider from "./HeroSlider.astro";
---

<section id="hero" class="relative h-svh w-svw">
  <div class="hero-fixed fixed top-0 left-0 h-svh w-full p-1 md:p-2">
    <Catch id="hero-catch" h1={true} others="bottom-0 z-10" />
    <HeroSlider />
  </div>
</section>
