---
import Catch from "@/components/Catch.astro";
import HeroSlider from "./HeroSlider.astro";
---

<section id="hero" class="relative h-svh w-svw">
  <div class="hero-fixed fixed top-0 left-0 h-full w-full p-1 md:p-2">
    <Catch others="hero-catch bottom-0" />
    <HeroSlider />
  </div>
</section>
