---
import Catch from "@/components/Catch.astro";
import HeroSlider from "./HeroSlider.astro";
---

<section id="hero" class="h-lvh w-lvw p-1 md:p-2">
  <Catch others="bottom-7 xl:bottom-14 min-[1728px]:bottom-16" />
  <HeroSlider />
</section>
