---
import Layout from "@/layout/Layout.astro";
import Hero from "@/components/Hero/index.astro";
import Concept from "@/components/Concept/index.astro";
import Works from "@/components/Works/index.astro";
import Service from "@/components/Service.astro";
import News from "@/components/News/index.astro";
import Company from "@/components/Company.astro";
import Bottom from "@/components/Bottom/index.astro";
import CustomCursor from "@/components/CustomCursor/index.astro";
import type { ColorMode } from "@/types/ColorMode";

interface Props {
  color: ColorMode;
}

const { color = "light" } = Astro.props as Props;
---

<Layout>
  <div id="page-root" data-color={color}>
    <Hero />

    <Concept />

    <Works />

    <Service />

    <News />

    <Company />

    <Bottom />
  </div>

  <CustomCursor />
</Layout>

<script>
  import initColorMode from "@/libs/initColorMode";

  initColorMode();
</script>
