---
import type { ColorMode } from "@/types/ColorMode";
import Layout from "@/layout/Layout.astro";
import Hero from "@/components/Hero/index.astro";
import Concept from "@/components/Concept/index.astro";
import Works from "@/components/Works/index.astro";
import Service from "@/components/Service.astro";
import News from "@/components/News/index.astro";
import Company from "@/components/Company/index.astro";
import Bottom from "@/components/Bottom/index.astro";
import Cursor from "@/components/Cursor/index.astro";

interface Props {
  color: ColorMode;
}

const { color = "light" } = Astro.props as Props;
---

<Layout>
  <div id="page-root" data-color={color}>
    <Hero />

    <Concept />

    <Works />

    <Service />

    <News />

    <Company />

    <Bottom />
  </div>

  <Cursor />
</Layout>

<script>
  import setupColorMode from "@/libs/setupColorMode";

  setupColorMode();
</script>
