<div id="logo" class="z-10 p-1 lg:p-0">
  <a href="./" class="block w-8 duration-200 hover:opacity-50 lg:h-[45px]">
    <img
      src="./images/header-logo.webp"
      alt="△△ inc. | suchのデモページ のトップへ戻る"
      class="logo-bl visible absolute h-8 object-contain duration-200 lg:h-[45px]"
    />
    <img
      src="./images/header-logo-white.webp"
      alt="△△ inc. | suchのデモページ のトップへ戻る"
      class="logo-white invisible absolute h-8 object-contain duration-200 lg:h-[45px]"
    />
  </a>
</div>
