---
import Logo from "./Logo.astro";
import Menu from "@/components/Menu/index.astro";
---

<header id="header" class="fixed top-0 left-0 z-100 w-screen">
  <div
    class="flex w-screen items-center justify-between p-2 lg:py-8 lg:pl-8 xl:p-8"
  >
    <Logo />
    <Menu />
  </div>
</header>
