---
import cn from "@/libs/cn";

interface Props {
  lg?: boolean;
  others?: string;
}

const { lg = false, others } = Astro.props as Props;

const arrowStyle = cn(
  "bg-[url('images/arrow.webp')] bg-no-repeat bg-contain lg:h-[10px] lg:w-12",
  {
    "h-[10px] w-[50px]": lg,
    "h-[7px] w-[33px]": !lg,
  },
  others,
);
---

<div class={arrowStyle}></div>
