---
import cn from "@/libs/cn";

interface Props {
  lg?: boolean;
  others?: string;
}

const { lg = false, others } = Astro.props as Props;

const arrowStyle = cn(
  "lg:w-12 lg:h-[10px] bg-[url('images/arrow.png')] bg-no-repeat bg-contain",
  {
    "w-[50px]": lg,
    "w-[33px]": !lg,
    "h-[10px]": lg,
    "h-[7px]": !lg,
  },
  others,
);
---

<div class={arrowStyle}></div>
