---
import cn from "@/libs/cn";

interface Props {
  lg?: boolean;
  others?: string;
}

const { lg = false, others } = Astro.props as Props;

const bgStyle = cn(
  "font-bold leading-8 tracking-[0.15em] md:text-2xl md:leading-10",
  {
    "text-xl": lg,
  },
  others,
);
---

<p class={bgStyle}>
  <slot />
</p>
