---
import BoldText from "@/components/BoldText.astro";
import Btn from "@/components/Btn.astro";
---

<div id="bottom" class="px-2 pb-4 lg:px-10">
  <div class="container-base relative py-44 lg:py-72">
    <BoldText lg={true} others="text-center">
      最後まで見てくれてありがとう！
    </BoldText>
    <img
      class="absolute inset-0 -z-10 m-auto w-2/3 md:w-1/3 lg:w-1/7"
      src="/images/bottom-heart.png"
      alt="heart"
    />
  </div>
  <Btn right={false} en={false} text="suchに戻る" />
</div>
