---
import cn from "@/libs/cn";

interface Props {
  h1?: boolean;
  scroll?: boolean;
  others?: string;
}

const { h1 = true, scroll = false, others } = Astro.props as Props;

const catchStyle = cn(
  `font-en absolute left-4 font-bold text-6xl leading-[72px] z-10 md:left-6 md:leading-[1.1] lg:text-7xl xl:text-8xl xl:leading-none 2xl:text-9xl min-[1728px]:text-[7vw] portrait:md:text-8xl portrait:lg:text-[144px]`,
  {
    "pb-5": !scroll,
  },
  others,
);
---

{
  h1 ? (
    <h1 class={catchStyle}>
      <span class="lg:hidden portrait:lg:block">
        Hype
        <br />
        Meets
        <br />
        Strategy.
      </span>
      <span class="hidden lg:block portrait:lg:hidden">
        Hype Meets Strategy.
      </span>
    </h1>
  ) : (
    <span aria-hidden="true" class={catchStyle}>
      <span class="lg:hidden portrait:lg:block">
        Hype
        <br />
        Meets
        <br />
        Strategy.
      </span>
      <span class="hidden lg:block portrait:lg:hidden">
        Hype Meets Strategy.
      </span>
    </span>
  )
}
