---
import SectionTitle from "@/components/SectionTitle.astro";
import serviceItemsData from "@/data/service/serviceItemsData";
import Arrow from "@/components/Arrow.astro";
---

<section id="service" class="relative bg-white">
  <div class="container-base border-t border-zinc-300 md:pt-4">
    <SectionTitle
      title="Service"
      others="pt-8 xl:pt-6 pb-9 lg:pb-11 xl:pb-16"
      animation={true}
    />
    <ul
      class="service-list flex-col justify-between p-1 md:flex md:flex-row lg:p-4"
    >
      {
        serviceItemsData.map((item) => (
          <li class="group/item relative h-full cursor-pointer pb-4 md:w-3/10">
            <span class="font-en absolute top-4 right-px z-10 pt-4 text-[50px] leading-1 text-white opacity-40 drop-shadow-md md:pt-0 md:text-3xl md:leading-none md:opacity-20 md:drop-shadow xl:text-5xl 2xl:text-6xl">
              {item.en}
            </span>
            <div class="relative h-full">
              <div class="absolute h-full w-full rounded bg-black opacity-5 duration-300 group-hover/item:opacity-0 md:opacity-20" />
              <img src={item.src} class="w-full rounded" />
            </div>
            <div class="relative z-10 w-full -translate-y-6">
              <div class="relative z-10 flex items-end justify-between px-2 pb-3 lg:pr-4">
                <p class="origin-bottom-left text-4xl leading-none font-bold text-white drop-shadow duration-300 group-hover/item:scale-101 md:text-xl lg:text-2xl xl:text-4xl 2xl:text-5xl">
                  {item.text}
                </p>
                <Arrow others="delay-150 duration-300 group-hover/item:translate-x-1" />
              </div>
              <span class="display absolute bottom-0 h-11 w-full rounded-b bg-black duration-300 group-hover/item:h-[72px] md:h-7 xl:h-[48px]" />
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</section>
