---
import cn from "@/libs/cn";
import type { Img } from "@/types/Img";

interface Props {
  work: Img;
}

const { work } = Astro.props as Props;
---

<li class={`mx-7 h-full ${work.class}`}>
  <img src={work.src} class="w-full rounded object-contain" />
</li>
