---
import works from "@/data/works";
---

<div class="works-gallery">
  <ul class="works-list flex">
    {
      works.map((work) => (
        <li>
          <img src={work.src} class="w-full object-contain" />
        </li>
      ))
    }
  </ul>
</div>
