---
import type { Img } from "@/types/Img";

interface Props {
  work: Img;
}

const { work } = Astro.props as Props;
---

<li class={`mx-7 md:mx-12 lg:mx-16 2xl:mx-30 h-full ${work.class}`}>
  <img src={work.src} class="w-full rounded object-contain" />
</li>
