---
import BoldText from "@/components/BoldText.astro";
import Catch from "@/components/Catch.astro";
---

<section
  id="concept"
  class="relative overflow-hidden bg-white p-1 md:p-2 portrait:lg:overflow-visible"
>
  <Catch id="catch-clone" others="fixed bottom-0 opacity-10" />
  <div class="container-base m-auto">
    <Catch
      id="catch-scroll"
      others="absolute hidden top-0 opacity-10 origin-top-left"
    />
    <div id="concept-main" class="opacity-0 duration-1000">
      <h2
        class="pt-20 pb-16 text-right text-[1.5rem] font-bold tracking-[0.3em] min-[375px]:text-[1.58rem] md:pt-64 md:pb-48 md:text-[3.2rem] lg:py-48 2xl:pt-80 landscape:lg:text-left"
      >
        話題性と戦略の出会い
      </h2>
      <div class="md:hidden">
        <BoldText others="pb-6">
          伝えたいメッセージを、<br />
          的確に、<br />
          効果的に届ける。
        </BoldText>
        <BoldText others="pb-6">
          △△ inc. は<br />
          ブランドを体現する人材を起用し、<br />訴求力のあるキャッチコピーや<br
          />広告設計まで一貫してご提案。
        </BoldText>
        <BoldText others="pb-6">
          あなたに寄り添った<br />ブランディングを実現します。
        </BoldText>
      </div>
      <BoldText others="hidden self-end md:block">
        伝えたいメッセージを、的確に、効果的に届ける。<br />
        △△ inc. はブランドを体現する人材を起用し、訴求力のあるキャッチコピーや広告設計まで一貫してご提案。<br
        />
        あなたに寄り添ったブランディングを実現します。
      </BoldText>
    </div>
  </div>
</section>

<script>
  import startConceptCatchAnimation from "./startConceptCatchAnimation";

  startConceptCatchAnimation();
</script>
