---
import SectionTitle from "@/components/SectionTitle.astro";
import Item from "./Item.astro";
import Btn from "@/components/Btn.astro";
---

<section id="news" class="relative bg-white">
  <div class="container-base pt-16 pb-20 md:pb-48">
    <SectionTitle title="News" others="pb-10 lg:pb-17 xl:pb-20" />
    <Item />
    <Btn />
  </div>
</section>
