---
import newsItemsData from "@/data/news/newsItems";
---

<ul class="news-articles">
  {
    newsItemsData.map((item) => (
      <li class="group/item cursor-pointer border-b border-zinc-300 px-2 py-7 first:border-y md:py-8 lg:px-0 lg:py-11 xl:py-12 2xl:py-14">
        <span class="flex-col duration-200 group-hover/item:opacity-50 lg:flex lg:flex-row lg:items-center">
          <p class="font-menu pb-2 text-xs lg:pb-0 lg:pl-12 lg:text-lg">
            {item.date}
          </p>
          <h3 class="text-sm tracking-[0.15em] lg:pl-24 lg:text-2xl">
            {item.title}
          </h3>
        </span>
      </li>
    ))
  }
</ul>
